@import "tailwindcss";


@layer base {
  body {
    @apply text-white;
  }
}

@theme {
  --color-dark: #1c1e21;
  --color-dark-100: #242526;
  --color-dark-200: #3a3b3c;
  --color-dark-300: #3e4042;
  --color-dark-500: #bcc0c4;
  --color-stale: #9e9e9e;
}




/*
 
.bg-dark{
    --tw-bg-opacity:1;
    background-color: rgb(28 30 33/ var(--tw-bg-opacity));
}


.bg-dark-100 {
  --tw-bg-opacity: 1;
  background-color: rgb(36 37 38 / var(--tw-bg-opacity));
}

.bg-dark-200{
  --tw-bg-opacity: 1;
  background-color: rgb(58 59 60 / var(--tw-bg-opacity));
}

.bg-dark-300 {
  --tw-bg-opacity: 1;
  background-color: rgb(62 64 66 / var(--tw-bg-opacity));
}

.text-dark-500 {
  --tw-text-opacity: 1;
  color: rgb(188 192 196 / var(--tw-text-opacity));
}

.bg-stale {
  --tw-bg-opacity: 1;
  background-color: rgb(158 158 158 / var(--tw-bg-opacity));
}
  */
